.app-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #066000;
    /* background-image: url(../assets/clapper-board-152088_1280.png); */
    background-size: cover;
    background-position: center;
    color: #6c05b1;
    border-radius: 10px;
    margin-bottom: 10px;
    
  }
  .marquee-title {
    white-space: nowrap;
  }
  
  
  .company-name {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-links a {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
  }
  
  .nav-links a.active {
    background-color: #fff;
    color: #fff;
  }
  
  .nav-links a:hover {
    background-color: #ccc;
  }
  
  .nav-links a svg {
    margin-right: 5px;
  }
  