/* Theaters.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
}

.navbar-link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
}

.navbar-link.active {
  color: #ff0000;
}

.navbar-icon {
  margin-right: 5px;
}

.theaters {
    margin-top: 40px;
  }
  
  .theaters-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .theaters-subtitle {
    font-size: 16px;
    margin-bottom: 16px;
    color: #666;;
  }
  .back-to-home {
    display: block;
    margin-bottom: 16px;
    color: #666;
    text-decoration: none;
  }
  .back-to-home:hover {
    text-decoration: underline;
  }
  
  .theaters-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .theater-item {
    margin-bottom: 20px;
  }
  
  .theater-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .theater-location,
  .theater-description {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .theaters-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding-top: 10px;
  }
  
  .theater-card {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .theater-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .theater-details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .theater-icon {
    margin-right: 5px;
  }
  
  .location-icon {
    margin-right: 5px;
    color: #888;
  }
  
  .theater-rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .star-icon {
    color: gold;
    font-size: 18px;
  }
  
  .star-icon.half {
    position: relative;
    left: -2px;
  }
  
  .star-icon.empty {
    color: lightgray;
  }
  
  .theater-description {
    font-size: 16px;
    line-height: 1.5;
  }
  