body{
  /* background-image: url(../assets/pngwing.com.png); */
}


.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-content: center;
  }
  
  .movie-card {
    position: relative;
    height: 350px; 
    background-color: #fff;
    border-radius: 5px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  .movie-card {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('../src/assets/pngwing.com.png'); */
    background-size: cover;
    background-position: center;
    color: #fff;
  }
  
  /* Optional: Add overlay and text styles for background image */
  .movie-card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.6); */
    z-index: -1;
  }
  .movie-image-container {
    height: 200px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .movie-image {
    /* width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px; */
    
  }
  
  .movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .movie-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: whitesmoke;
  }
  
  .movie-synopsis {
    color: #555;
    margin-bottom: 10px;
  }
  
  .movie-cast {
    color: #777;
  }
  
  @media screen and (max-width: 768px) {
    .movie-grid {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
  
  @media screen and (max-width: 480px) {
    .movie-grid {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  
  /* Optional: Add background image */
  
  .movie-title,
  .movie-synopsis,
  .movie-cast {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  }
  
  .movie-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .movie-synopsis {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
    margin-bottom: 10px;
  }
  
  .movie-cast {
    font-size: 14px;
  }
  .rate-movie-button {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 50px; 
    left: 20px;
  }
  
  .rate-movie-button:hover {
    background-color: #0cc215;
  }
  
  .button-text {
    font-weight: bold;
  }
  
  /*styles form review form */
  .rate-movie-page {
    margin: 20px;
  }
  
  .rating-form {
    margin-top: 20px;
  }
  
  .star-rating {
    display: flex;
    align-items: center;
  }
  
  .star-rating label {
    margin-right: 5px;
    cursor: pointer;
  }
  
  .review-input {
    width: 100%;
    height: 100px;
    padding: 5px;
    resize: vertical;
  }
  
  .recommendation-input {
    width: 100%;
    padding: 5px;
  }
  
  .submit-button {
    margin-top: 10px;
  }
  